.nav-work {
  @include flexbox();
  margin: 0 auto;
  .nav-item {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    padding: 25px;
    font-size: 14px;
    color: #717171;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      position: absolute;
      border-top: 2px solid #18cfab;
      top: 0;
      left: 0;
      visibility: hidden;
    }
    &:hover,
    &:active {
      color: #18cfab;
      &:before {
        visibility: visible;
      }
    }
  }
}
.work {
  .filter-container {
    @include flexbox();
    @include justify-content(space-between);
    margin: 50px auto;
  }
  .filtr-item {
    width: calc(100% / 4 - 20px) !important;
    .image-work {
      width: 100%;
    }
  }
}
.row {
  .btn {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    background-color: #18cfab;
    .fa-plus {
      margin-right: 5px;
    }
  }
}