<div class="col-md-3 col-sm-6 block-price wow fadeInLeft" data-wow-delay="@@delay">
  <h3 class="title-price">@@title</h3>
  <p class="price">$@@price<span class="price-month">/Month</span></p>
  <p class="offer">offer</p>
  <ul class="list-price">
    <li class="item-price">@@hosting</li>
    <li class="item-price">@@email</li>
    <li class="item-price">@@database</li>
    <li class="item-price">@@design</li>
    <li class="item-price">@@website</li>
    <li class="item-price">@@header</li>
    <li class="item-price">@@store</li>
  </ul>
  <div class="d-flex justify-content-center">
    <a href="#" class="link-buy">buy now</a>
  </div>
</div>
