<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>

    <!-- include header.html -->
    @@include('../layouts/header.html')
@@include('../layouts/home.html')
@@include('../layouts/feature.html')
@@include('../layouts/company.html')
@@include('../layouts/work.html')
@@include('../layouts/service.html')
@@include('../layouts/purchase.html')
@@include('../layouts/breaking.html')
@@include('../layouts/fact.html')
@@include('../layouts/feedback.html')
@@include('../layouts/team.html')
@@include('../layouts/purchase-2.html')
@@include('../layouts/contact.html')
    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <!-- include footer.html -->
    @@include('../layouts/footer.html')

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>