<div class="breaking-new container">
  <h3 class="title-feature wow FadeInRight">Breaking News</h3>
  <div class="row">
    @@loop("../loop/loop-breaking.html", [{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post",
      "delay": "0.4s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post",
      "delay": "0.6s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post",
      "delay": "0.8s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post",
      "delay": "1.2s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post",
      "delay": "1.4s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post",
      "delay": "1.8s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post",
      "delay": "2s"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post",
      "delay": "2.2s"
      }
    ])
  </div>
</div>