<div class="breaking-new container">
  <h3 class="title-feature">Breaking News</h3>
  <div class="row">
    @@loop("../loop/loop-breaking.html", [{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      }
    ])
  </div>
</div>