<div class="breaking-new container">
  <div class="title-feature">
    <h3>Breaking News</h3>
  </div>
  <div class="row">
    @@loop("../loop/loop-breaking.html", [{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Blog Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      },{
      "image": "images/img-1.jpg",
      "title": "Amazing Image Post"
      }
    ])
  </div>
</div>