<div class="about-company row">
  <div class="col-lg-6">
    <img src="images/devices.png" alt="image progress" class="image-company">
  </div>
  <div class="col-lg-6">
    <div class="title-feature">
      <h3>About Our Company</h3>
    </div>
    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="true">our history</a>
          <a class="nav-item nav-link" id="nav-biography-tab" data-toggle="tab" href="#nav-biography" role="tab" aria-controls="nav-biography" aria-selected="false">our biography</a>
          <a class="nav-item nav-link" id="nav-skills-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-skills" aria-selected="false">our skills</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
          <p class="interface-history progress">user interface</p>
          <p class="web-design-history progress">web design</p>
          <p class="wordpress-history progress">wordpress</p>
          <p class="html-history progress">html & css</p>
          <p class="app-design-history progress">app design</p>
        </div>
        <div class="tab-pane fade" id="nav-biography" role="tabpanel" aria-labelledby="nav-biography-tab">
          <p class="interface-biog progress">user interface</p>
          <p class="web-design-biog progress">web design</p>
          <p class="wordpress-biog progress">wordpress</p>
          <p class="html-biog progress">html & css</p>
          <p class="app-design-biog progress">app design</p>
        </div>
        <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
          <p class="interface-skill progress">user interface</p>
          <p class="web-design-skill progress">web design</p>
          <p class="wordpress-skill progress">wordpress</p>
          <p class="html-skill progress">html & css</p>
          <p class="app-design-skill progress">app design</p>
        </div>
      </div>
    </div>
  </div>
</div>
