<div class="contact row">
  <div class="col-sm-6">
    <img src="images/map.jpg" alt="image-map" class="image-contact wow fadeInLeft" data-wow-delay="0.5s">
  </div>
  <div class="col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
    <h3 class="title-feature">Keep In Touch</h3>
    <form action="/action_page.php">
      <input type="text" id="fname" name="name" placeholder="Name">
      <input type="text" id="lname" name="email" placeholder="Email">
      <textarea type="text" name="Messager" placeholder="Messager"></textarea>
      <input type="submit" value="Send Request">
    </form>
  </div>
</div>