<div class="fun-fact">
  <div class="row">
    @@loop("../loop/loop-fun.html", [{
      "image-fun": "images/fact-1.png",
      "description-fun": "Works",
      "number-fun": "4609"
      },{
      "image-fun": "images/fact-2.png",
      "description-fun": "Customers",
      "number-fun": "3470"
      },{
      "image-fun": "images/fact-3.png",
      "description-fun": "Purchase",
      "number-fun": "2908"
      },{
      "image-fun": "images/fact-4.png",
      "description-fun": "Office",
      "number-fun": "1908"
      }
    ])
  </div>
  <div class="price">
    <h3 class="title-feature">Our Pricing Table</h3>
    <div class="container">
      <div class="row">
        @@loop("../loop/loop-price.html", [{
          "title": "Personal",
          "price": "99",
          "hosting": "1 Hosting",
          "email": "2 Email Marketing",
          "database": "5 Database",
          "design": "2 Design Pack",
          "website": "3 Website Layout",
          "header": "5 Header Style",
          "store": "3 Online Store"
          },{
          "title": "Business",
          "price": "199",
          "hosting": "1 Hosting",
          "email": "2 Email Marketing",
          "database": "5 Database",
          "design": "2 Design Pack",
          "website": "3 Website Layout",
          "header": "5 Header Style",
          "store": "3 Online Store"
          },{
          "title": "Professional",
          "price": "299",
          "hosting": "1 Hosting",
          "email": "2 Email Marketing",
          "database": "5 Database",
          "design": "2 Design Pack",
          "website": "3 Website Layout",
          "header": "5 Header Style",
          "store": "3 Online Store"
          },{
          "title": "diamond",
          "price": "299",
          "hosting": "1 Hosting",
          "email": "2 Email Marketing",
          "database": "5 Database",
          "design": "2 Design Pack",
          "website": "3 Website Layout",
          "header": "5 Header Style",
          "store": "3 Online Store"
          }
        ])
      </div>
    </div>
  </div>
</div>