<div id="feature" class="feature">
  <div class="row">
    @@loop("../loop/loop-option.html", [{
      "image-option": "images/option-1.png",
      "description-option": "Different theme option",
      "delay": "0.4s"
      },{
      "image-option": "images/option-2.png",
      "description-option": "fully customizable",
      "delay": "0.8s"
      },{
      "image-option": "images/option-3.png",
      "description-option": "unlimited support",
      "delay": "1.2s"
      },{
      "image-option": "images/option-4.png",
      "description-option": "responsive all device",
      "delay": "1.6s"
      }
    ])
  </div>
  <div class="content-feature container">
    <h3 class="title-feature wow fadeInLeft" data-wow-offset="50">Creative Amazing Features</h3>
    <div class="row">
      @@loop("../loop/loop-feature.html", [{
        "title-feature": "Retina Ready",
        "icon-feat": "images/icon-feat-1.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "0.4s"
        },{
        "title-feature": "Creative Blog Style",
        "icon-feat": "images/icon-feat-2.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "0.4s"
        },{
        "title-feature": "Icon Fonts",
        "icon-feat": "images/icon-feat-3.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "0.4s"
        },{
        "title-feature": "Parallax Effects",
        "icon-feat": "images/icon-feat-4.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "0.8s"
        },{
        "title-feature": "Amazing Interface",
        "icon-feat": "images/icon-feat-5.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "0.8s"
        },{
        "title-feature": "SEO Optimized",
        "icon-feat": "images/icon-feat-6.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "0.8s"
        },{
        "title-feature": "Creative Solutions",
        "icon-feat": "images/icon-feat-7.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "1.2s"
        },{
        "title-feature": "Mega Menus",
        "icon-feat": "images/icon-feat-8.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "1.2s"
        },{
        "title-feature": "Custom Backgrounds",
        "icon-feat": "images/icon-feat-9.png",
        "desc-feature": "All our modules are built with the possi bility to thse choose between different design and you change.",
        "delay": "1.2s"
        }
      ])
    </div>
  </div>
</div>
