<div class="feedback" id="testimonial">
  <h3 class="title-feature wow fadeInRight">What People Say About theHam</h3>
  <div class="feedback-slide">
    @@loop("../loop/loop-feedback.html", [{
      "name": "Hasan Ali",
      "work": "UX Designer",
      "image": "images/img-2.jpg",
      "desc-feedback": "Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis."
      },{
      "name": "Tristina",
      "work": "UX Designer",
      "image": "images/per-feedback.png",
      "desc-feedback": "Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis."
      },{
      "name": "Ken Shin",
      "work": "UX Designer",
      "image": "images/img-3.jpg",
      "desc-feedback": "Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis"
      },{
      "name": "Yasuo",
      "work": "UX Designer",
      "image": "images/img-1.jpg",
      "desc-feedback": "Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis."
      },{
      "name": "Yasuo",
      "work": "UX Designer",
      "image": "images/img-1.jpg",
      "desc-feedback": "Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis."
      },{
      "name": "Master Yi",
      "work": "UX Designer",
      "image": "images/per-feedback.png",
      "desc-feedback": "Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis."
      }
    ])
  </div>
  <div class="feedback-nav">
    <img src="images/feedback.png" alt="feedback" class="image-nav">
    <img src="images/feedback.png" alt="feedback" class="image-nav">
    <img src="images/feedback.png" alt="feedback" class="image-nav">
    <img src="images/feedback.png" alt="feedback" class="image-nav">
    <img src="images/feedback.png" alt="feedback" class="image-nav">
    <img src="images/feedback.png" alt="feedback" class="image-nav">
  </div>
</div>
