<footer class="footer-container">
  <div class="footer-top container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a href="#"><img src="images/logo.png" class="logo col-12 wow fadeInUp" data-wow-delay="0.5s"></a>
        <div class="address wow fadeInLeft" data-wow-delay="1s">
          <p class="wrap-footer">Lorem ipsum dolor sit amet, con is sectetur adipiscing elit. Duis ut lob ortis nulla. Vestibulum ante ipsum primis itrices posuere cubilia.</p>
          <div class="about">
            <p class="title-about">Office:</p>
            <p>795 Folsom Ave, Suite 600</p>
            <p>San Francisco, CA 94107</p>
          </div>
          <div class="about">
            <p><span class="title-about">Phone:</span> (91) 8547 632521</p>
            <p><span class="title-about">Fax:</span> (91) 11 4752 1433</p>
            <p><span class="title-about">Email:</span> info@canvas.com </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <h3 class="col-12 title-footer wow fadeInUp" data-wow-delay="0.5s">recent post</h3>
        @@loop("../loop/loop-recent.html", [{
          "image": "images/img-footer.png",
          "title-recent": "A STANDARD IMAGE POST",
          "desc-recent": "Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.",
          "date": "10 March, 2015",
          "delay": "1.2s"
          },{
          "image": "images/img-footer.png",
          "title-recent": "A STANDARD IMAGE POST",
          "desc-recent": "Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.",
          "date": "10 March, 2015",
          "delay": "1.8s"
          },{
          "image": "images/img-footer.png",
          "title-recent": "A STANDARD IMAGE POST",
          "desc-recent": "Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.",
          "date": "10 March, 2015",
          "delay": "2.4s"
          }
        ])
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="block-tags">
          <h3 class="col-12 title-footer wow fadeInUp" data-wow-delay="0.5s">tags</h3>
          @@loop("../loop/loop-tags.html", [{
            "delay": "1.8s"
            },{
            "delay": "2.4s"
            },{
            "delay": "2.8s"
            },{
            "delay": "3.2s"
            }
          ])
        </div>
          <h3 class="title-footer wow fadeInUp" data-wow-delay="3.6s">NEWSLETTER</h3>
          <p class="wow fadeInUp" data-wow-delay="4s">Subscribe to Our Newsletter to get Important News,  Amazing Offers.</p>
          <form action="/action_page.php" class="form-footer wow fadeInUp" data-wow-delay="4.3s">
            <input type="text" id="lname" name="email" placeholder="Enter email">
            <input type="submit" value="Go">
          </form>
        </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="4s">
        <h3 class="col-12 title-footer wow fadeInUp" data-wow-delay="0.5s">flicke feed</h3>
        <img src="images/img-footer.png" class="image-flicke col-sm-5 col-3">
        <img src="images/img-footer.png" class="image-flicke col-sm-5 col-3">
        <img src="images/img-footer.png" class="image-flicke col-sm-5 col-3">
        <img src="images/img-footer.png" class="image-flicke col-sm-5 col-3">
        <img src="images/img-footer.png" class="image-flicke col-sm-5 col-3">
        <img src="images/img-footer.png" class="image-flicke col-sm-5 col-3">
      </div>
    </div>
  </div>
  <div class="footer-bot">
    <p class="footer-content">Copyright 2015 <span class="text-logo">theHam</span> | All Rights Reserved</p>
  </div>
</footer>

