<footer class="footer-container">
  <div class="footer-top container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><img src="images/logo.png" class="logo"></a>
      </div>
      <h3 class="col-md-4 title-footer">recent post</h3>
      <h3 class="col-md-3 title-footer">tags</h3>
      <h3 class="col-md-2 title-footer">flicke feed</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="address">
          <p class="wrap-footer">Lorem ipsum dolor sit amet, con is sectetur adipiscing elit. Duis ut lob ortis nulla. Vestibulum ante ipsum primis itrices posuere cubilia.</p>
          <div class="about">
            <p class="title-about">Office:</p>
            <p>795 Folsom Ave, Suite 600</p>
            <p>San Francisco, CA 94107</p>
          </div>
          <div class="about">
            <p><span class="title-about">Phone:</span> (91) 8547 632521</p>
            <p><span class="title-about">Fax:</span> (91) 11 4752 1433</p>
            <p><span class="title-about">Email:</span> info@canvas.com </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        @@loop("../loop/loop-recent.html", [{
          "image": "images/img-footer.png",
          "title-recent": "A STANDARD IMAGE POST",
          "desc-recent": "Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.",
          "date": "10 March, 2015"
          },{
          "image": "images/img-footer.png",
          "title-recent": "A STANDARD IMAGE POST",
          "desc-recent": "Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.",
          "date": "10 March, 2015"
          },{
          "image": "images/img-footer.png",
          "title-recent": "A STANDARD IMAGE POST",
          "desc-recent": "Lorem ipsum dolor sit amet, con   sectetur adip is lisicing elit, sed do.",
          "date": "10 March, 2015"
          }
        ])
      </div>
      <div class="col-md-3">
        <div class="block-tags">
          @@loop("../loop/loop-tags.html", [{
            },{
            },{
            },{
            }
          ])
        </div>
          <h3 class="title-footer">NEWSLETTER</h3>
          <p>Subscribe to Our Newsletter to get Important News,  Amazing Offers.</p>
          <form action="/action_page.php" class="form-footer">
            <input type="text" id="lname" name="email" placeholder="Enter email">
            <input type="submit" value="Go">
          </form>
        </div>
      <div class="col-md-2">
        <img src="images/img-footer.png" class="image-flicke">
        <img src="images/img-footer.png" class="image-flicke">
        <img src="images/img-footer.png" class="image-flicke">
        <img src="images/img-footer.png" class="image-flicke">
        <img src="images/img-footer.png" class="image-flicke">
        <img src="images/img-footer.png" class="image-flicke">
      </div>
    </div>
  </div>
  <div class="footer-bot">
    <p class="footer-content">Copyright 2015 <span class="text-logo">theHam</span> | All Rights Reserved</p>
  </div>
</footer>

