<div class="home" id="home">
  <div class="slider-for">
    @@loop("../loop/loop-home.html", [{
      "descrip-1": "the hame is",
      "descrip-2": "wordpress theme",
      "title": "we are creative",
      "description": "just buy and enjoy these awesome features",
      "image": "images/img-4.jpg"
      },{
      "descrip-1": "nam anh",
      "descrip-2": "is the best",
      "title": "Hahahaha",
      "description": "just buy and enjoy these awesome features",
      "image": "images/img-5.jpg"
      },{
      "descrip-1": "song gio",
      "descrip-2": "bac phan",
      "title": "jack",
      "description": "just buy and enjoy these awesome features",
      "image": "images/img-1.jpg"
      },{
      "descrip-1": "cuop",
      "descrip-2": "One",
      "title": "luffy",
      "description": "just buy and enjoy these awesome features",
      "image": "images/img-2.jpg"
      },{
      "descrip-1": "hello",
      "descrip-2": "my name",
      "title": "Kenshine",
      "description": "just buy and enjoy these awesome features",
      "image": "images/img-3.jpg"
      }
    ])
  </div>
  <div class="slider-nav">
    <img src="images/img-5.jpg" alt="anh 1">
    <img src="images/img-1.jpg" alt="anh 2">
    <img src="images/img-2.jpg" alt="anh 2">
    <img src="images/img-3.jpg" alt="anh 2">
    <img src="images/img-4.jpg" alt="anh 2">
  </div>
</div>
