<div class="purchase">
  <div class="title-purchase-2">
    <h3 class="title-purchase wow fadeInLeft">theham is not only wordpress theme</h3>
    <h4 class="description-purchase wow fadeInRight">it’s also clean and creative design</h4>
  </div>
  <div class="row">
    <div class="col-sm-6 wow fadeInLeft" data-wow-delay="1s" data-wow-duration="5s">
      <img src="images/img-purchase.png" alt="anh-laptop" class="image-purchase">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-delay="1s" data-wow-duration="5s">
      <ul>
        <li class="list-option"><i class="fa fa-check-circle"></i>Clean Layout Design</li>
        <li class="list-option"><i class="fa fa-check-circle"></i>Many Style Portfolio Design</li>
        <li class="list-option"><i class="fa fa-check-circle"></i>Beautiful Blog Page</li>
        <li class="list-option"><i class="fa fa-check-circle"></i>Mega PSD Pack</li>
        <li class="list-option"><i class="fa fa-check-circle"></i>User Friendly Design</li>
        <li class="list-option"><i class="fa fa-check-circle"></i>Full Shortcodes</li>
        <li class="list-option"><i class="fa fa-check-circle"></i>Fully Editable PSD</li>
      </ul>
      <button type="button" class="btn">purchase now</button>
    </div>
  </div>
</div>