<div class="service">
  <p class="title-feature wow fadeInLeft">Our Services</p>
  <div class="wrap-service">
    <nav class="nav-service">
      <div class="nav nav-tabs nav-service-link" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active wow fadeInRight" id="web-design-tab" data-toggle="tab" href="#web-design" role="tab" aria-controls="web-design" aria-selected="true">web design</a>
        <a class="nav-item nav-link wow fadeInRight" data-wow-delay="0.4s" id="graphic-design-tab" data-toggle="tab" href="#graphic-design" role="tab" aria-controls="graphic-design" aria-selected="false">graphic design</a>
        <a class="nav-item nav-link wow fadeInRight" data-wow-delay="0.6s" id="online-support-tab" data-toggle="tab" href="#online-support" role="tab" aria-controls="online-support" aria-selected="false">online support</a>
        <a class="nav-item nav-link wow fadeInRight" data-wow-delay="0.8s" id="app-design-tab" data-toggle="tab" href="#app-design" role="tab" aria-controls="app-design" aria-selected="false">app design</a>
        <a class="nav-item nav-link wow fadeInRight" data-wow-delay="1s" id="online-marketing-tab" data-toggle="tab" href="#online-marketing" role="tab" aria-controls="online-marketing" aria-selected="false">online marketing</a>
        <a class="nav-item nav-link wow fadeInRight" data-wow-delay="1.2s" id="seo-service-tab" data-toggle="tab" href="#seo-service" role="tab" aria-controls="seo-service" aria-selected="false">seo service</a>
      </div>
    </nav>
    <div class="tab-content container" id="nav-tabContent">
      <div class="tab-pane fade show active" id="web-design" role="tabpanel" aria-labelledby="web-design-tab">
        <img src="images/img-1.jpg" alt="anh1" class="img-service wow fadeInRight">
        <p class="wow fadeInRight" data-wow-delay="0.4s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="tab-pane fade" id="graphic-design" role="tabpanel" aria-labelledby="graphic-design-tab">
        <img src="images/img-2.jpg" alt="anh2" class="img-service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="tab-pane fade" id="online-support" role="tabpanel" aria-labelledby="online-support-tab">
        <img src="images/img-3.jpg" alt="anh1" class="img-service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="tab-pane fade" id="app-design" role="tabpanel" aria-labelledby="app-design-tab">
        <img src="images/img-4.jpg" alt="anh1" class="img-service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="tab-pane fade" id="online-marketing" role="tabpanel" aria-labelledby="online-marketing-tab">
        <img src="images/img-5.jpg" alt="anh1" class="img-service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="tab-pane fade" id="seo-service" role="tabpanel" aria-labelledby="seo-service-tab">
        <img src="images/img-6.jpg" alt="anh1" class="img-service">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
