<div class="team">
  <h3 class="title-feature">Meet Out Team</h3>
  <div class="container">
    <div class="team-container row">
      @@loop("../loop/loop-team.html", [{
        "image": "images/team-1.jpg",
        "name": "Al Masum",
        "position": "Fourder"
        },{
        "image": "images/team-1.jpg",
        "name": "Al Masum",
        "position": "Fourder"
        },{
        "image": "images/team-1.jpg",
        "name": "Al Masum",
        "position": "Fourder"
        },{
        "image": "images/team-1.jpg",
        "name": "Al Masum",
        "position": "Fourder"
        }
      ])
    </div>
  </div>
</div>