<div class="work container">
  <h3 class="title-feature">Our Amazing Work</h3>
  <div class="row">
    <ul class="nav-work">
      <li class="nav-item" data-filter="all">All</li>
      <li class="nav-item" data-filter="1">Graphic Design</li>
      <li class="nav-item" data-filter="2">Web Design</li>
      <li class="nav-item" data-filter="3">Landing Pages</li>
      <li class="nav-item" data-filter="4">Wordpress</li>
    </ul>
  </div>
  <div class="filter-container row">
    @@loop("../loop/loop-work.html", [{
      "data": "1",
      "image": "images/img-1.jpg"
      },{
      "data": "2",
      "image": "images/img-2.jpg"
      },{
      "data": "3",
      "image": "images/img-3.jpg"
      },{
      "data": "4",
      "image": "images/img-4.jpg"
      },{
      "data": "1",
      "image": "images/img-5.jpg"
      },{
      "data": "2",
      "image": "images/img-6.jpg"
      },{
      "data": "3",
      "image": "images/img-7.jpg"
      },{
      "data": "4",
      "image": "images/img-8.jpg"
      },{
      "data": "1",
      "image": "images/img-9.jpg"
      },{
      "data": "2",
      "image": "images/img-10.jpg"
      },{
      "data": "3",
      "image": "images/img-11.jpg"
      },{
      "data": "1",
      "image": "images/img-12.jpg"
      }
    ])
  </div>
  <div class="row">
    <button type="button" class="btn"><i class="fa fa-plus"></i> load more</button>
  </div>
</div>